@model Tunrecrute.ViewModels.EditResumeViewModel
@{
    Layout = "~/Views/Profile/_Layout.cshtml";
    ViewBag.Title = "Edit Resume";
}
<div class="alice-bg section-padding-bottom">
    <div class="container no-gliters">
        <div class="row no-gliters">
            <div class="col">
                <div class="dashboard-container">
                    <div class="dashboard-content-wrapper">
                        <div class="download-resume dashboard-section">
                            <form asp-action="EditResume" method="post" enctype="multipart/form-data">
                                <div class="update-file">
                                    <input asp-for="CVFile" accept="application/pdf,application/x-pdf" onchange="this.form.submit()" />Update CV<i data-feather="edit-2"></i>
                                </div>
                                <div class="update-file">
                                    <input asp-for="CoverLetterFile" accept="application/pdf,application/x-pdf" onchange="this.form.submit()" />Update Cover Letter<i data-feather="edit-2"></i>
                                </div>
                            </form>
                        </div>
                        <div class="skill-and-profile dashboard-section">
                            <div class="social-profile">
                                <label>Social Media:</label>
                                @if (Model.Candidate.SocialMedia != null)
                                {

                                    @if (!String.IsNullOrEmpty(Model.Candidate.SocialMedia.Facebook))
                                    {
                                        <a href="@Model.Candidate.SocialMedia.Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                    }
                                    @if (!String.IsNullOrEmpty(Model.Candidate.SocialMedia.Twitter))
                                    {
                                        <a href="@Model.Candidate.SocialMedia.Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                                    }
                                    @if (!String.IsNullOrEmpty(Model.Candidate.SocialMedia.Google))
                                    {
                                        <a href="@Model.Candidate.SocialMedia.Google" target="_blank"><i class="fab fa-google-plus"></i></a>
                                    }
                                    @if (!String.IsNullOrEmpty(Model.Candidate.SocialMedia.Linkedin))
                                    {
                                        <a href="@Model.Candidate.SocialMedia.Linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                    }
                                    @if (!String.IsNullOrEmpty(Model.Candidate.SocialMedia.Pintrest))
                                    {
                                        <a href="@Model.Candidate.SocialMedia.Pintrest" target="_blank"><i class="fab fa-pinterest-p"></i></a>
                                    }
                                    @if (!String.IsNullOrEmpty(Model.Candidate.SocialMedia.Behance))
                                    {
                                        <a href="@Model.Candidate.SocialMedia.Behance" target="_blank"><i class="fab fa-behance"></i></a>
                                    }
                                    @if (!String.IsNullOrEmpty(Model.Candidate.SocialMedia.Dribbble))
                                    {
                                        <a href="@Model.Candidate.SocialMedia.Dribbble" target="_blank"><i class="fab fa-dribbble"></i></a>
                                    }
                                    @if (!String.IsNullOrEmpty(Model.Candidate.SocialMedia.Github))
                                    {
                                        <a href="@Model.Candidate.SocialMedia.Github" target="_blank"><i class="fab fa-github"></i></a>
                                    }
                                }
                                <!-- Button trigger modal -->
                                @if (Model.Candidate.SocialMedia != null)
                                {
                                    <button id="social-media" type="button" class="btn btn-primary edit-button" data-toggle="ajax-modal" data-target="#modal-social" data-url="@Url.Action("AddOrEdit","SocialMedia",new { id = Model.Candidate.SocialMedia.Id})">
                                        <i data-feather="edit-2"></i>
                                    </button>
                                }
                                else
                                {
                                    <button id="social-media" type="button" class="btn btn-primary edit-button" data-toggle="ajax-modal" data-target="#modal-social" data-url="@Url.Action("AddOrEdit","SocialMedia")">
                                        <i data-feather="edit-2"></i>
                                    </button>
                                }
                                <!-- Plachloder Modal -->

                                <div id="modal-placeholder-social-media"></div>
                            </div>
                        </div>
                        <div class="personal-information dashboard-section last-child details-section">
                            <h4><i data-feather="user-plus"></i>Personal Details</h4>
                            <ul>
                                <li><span>Full Name:</span>@Model.Candidate.Firstname @Model.Candidate.Lastname</li>
                                <li><span>Email:</span>@Model.Candidate.Email</li>
                                @if (Model.Candidate.Birthdate != null)
                                {
                                    <li><span>Date of Birth:</span> @Model.Candidate.Birthdate?.ToString("dd/MM/yyyy")</li>
                                }
                                @if (!String.IsNullOrEmpty(Model.Candidate.Nationality))
                                {
                                    <li><span>Nationality:</span> @Model.Candidate.Nationality </li>
                                }                                
                                @if (!String.IsNullOrEmpty(Model.Candidate.Sex))
                                {
                                    <li><span>Sex:</span> @Model.Candidate.Sex</li>
                                }
                                <li><span>Address:</span>@Model.Candidate.Address</li>
                            </ul>
                            <!-- Button trigger modal -->
                            <button id="user-details" type="button" class="btn btn-primary edit-resume" data-toggle="ajax-modal" data-target="#modal-personal-details" data-url="@Url.Action("UserDetails")">
                                <i data-feather="edit-2"></i>
                            </button>
                            <!-- Plachloder Modal -->
                            <div id="modal-placeholder-user-details"></div>
                        </div>
                        <div class="about-details details-section dashboard-section">
                            <h4><i data-feather="align-left"></i>About Me</h4>
                            <p>@Model.Candidate.AboutMe</p>
                            <!-- Button trigger modal -->
                            <button id="about-user" type="button" class="btn btn-primary edit-resume" data-toggle="ajax-modal" data-target="#modal-about-me" data-url="@Url.Action("AboutUser")">
                                <i data-feather="edit-2"></i>
                            </button>
                            <!-- Modal placeholder -->
                            <div id="modal-placeholder-about-user"></div>

                        </div>
                        <div class="edication-background details-section dashboard-section">
                            <h4><i data-feather="book"></i>Education Background</h4>
                            @foreach (var edu in Model.Candidate.Educations)
                            {
                        <div class="education-label">
                            <a href="#modal-education-delete" id="delete-education" style="display: block;color: #ff3366;" data-toggle="ajax-modal" data-target="#modal-education-delete" data-url="@Url.Action("Delete","Education",new { id = edu.Id })">
                                <i data-feather="x-circle" style="float: right;width: 15px;height: 15px;margin-right:11px;margin-top:9px;"></i>
                            </a>
                            <a href="#modal-education-edit" id="edit-education" style="display: block;color: #246df8" data-toggle="ajax-modal" data-target="#modal-education-edit" data-url="@Url.Action("Edit","Education",new { id = edu.Id })">
                                <i data-feather="edit-2" style="float: right;width: 15px;height: 15px;margin-right:11px;margin-top:9px;"></i>
                            </a>
                            <span class="study-year">@edu.StartYear - @edu.EndYear</span>
                            <h5>@edu.DiplomaTitle<span>@@ @edu.InstitutionName</span></h5>
                            <p>@edu.Description</p>
                            <!-- Modal placeholder -->
                            <div id="modal-placeholder-delete-education"></div>
                            <!-- Modal placeholder -->
                            <div id="modal-placeholder-edit-education"></div>
                        </div>
                            }
                            <!-- Button trigger modal -->
                            <button id="create-education" type="button" class="btn btn-primary edit-resume" data-toggle="ajax-modal" data-target="#modal-education-add" data-url="@Url.Action("Create","Education")">
                                <i data-feather="plus"></i>
                            </button>
                            <!-- Modal placeholder -->
                            <div id="modal-placeholder-create-education"></div>
                        </div>
                        <div class="experience dashboard-section details-section">
                            <h4><i data-feather="briefcase"></i>Work Experience</h4>
                            @foreach (var exp in Model.Candidate.WorkExperiences)
                            {
                                <div class="experience-section">
                                    <a id="delete-work-experience" href="#modal-work-experience-delete" style="display: block;color: #ff3366" data-toggle="ajax-modal" data-target="#modal-work-experience-delete" data-url="@Url.Action("Delete","WorkExperience",new { id = exp.Id })">
                                        <i data-feather="x-circle" style="float: right;width: 15px;height: 15px;margin-right:11px;margin-top:9px;"></i>
                                    </a>
                                    <a id="edit-work-experience" href="#modal-work-experience-delete" style="display: block;color: #246df8" data-toggle="ajax-modal" data-target="#modal-work-experience-edit" data-url="@Url.Action("Edit","WorkExperience",new { id = exp.Id })">
                                        <i data-feather="edit-2" style="float: right;width: 15px;height: 15px;margin-right:11px;margin-top:9px;"></i>
                                    </a>
                                    <span class="service-year">@exp.StartYear - @exp.EndYear</span>
                                    <h5>@exp.Title<span>@@ @exp.CompanyName</span></h5>
                                    <p>@exp.Description</p>
                                </div>
                                <!-- Modal placeholder -->
                                <div id="modal-placeholder-delete-work-experience"></div>
                                <!-- Modal placeholder -->
                                <div id="modal-placeholder-edit-work-experience"></div>
                            }

                            <!-- Button trigger modal -->
                            <button id="create-work-experience" type="button" class="btn btn-primary edit-resume" data-toggle="ajax-modal" data-target="#modal-work-experience-add" data-url="@Url.Action("Create","WorkExperience")">
                                <i data-feather="plus"></i>
                            </button>
                            <!-- Modal -->
                            <div id="modal-placeholder-create-work-experience"></div>

                        </div>
                        <div class="professonal-skill dashboard-section details-section">
                            <h4><i data-feather="feather"></i>Professional Skill</h4>
                            <div class="progress-group">
                                @foreach (var skill in Model.Candidate.ProfSkills)
                                {
                                    <div class="progress-item">
                                        <div class="progress-head">
                                            <a id="delete-skill" href="#modal-skill-delete" style="display: block;color:#ff3366" data-toggle="ajax-modal" data-target="#modal-skill-delete" data-url="@Url.Action("Delete","ProfSkill",new { id = skill.Id })">
                                                <i data-feather="x-circle" style="float: right;width: 15px;height: 15px;margin-right: 40px;margin-top: 5px;"></i>
                                            </a>
                                            <a id="edit-skill" href="#modal-skill-edit" style="display: block;color: #246df8" data-toggle="ajax-modal" data-target="#modal-pro-skill-edit" data-url="@Url.Action("Edit","ProfSkill",new { id = skill.Id })">
                                                <i data-feather="edit-2" style="float: right;width: 15px;height: 15px;margin-right: 10px;margin-top: 5px;"></i>
                                            </a>
                                            <p class="progress-on">@skill.Name</p>
                                        </div>
                                        <div class="progress-body">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="@skill.Percent" aria-valuemin="0" aria-valuemax="100" style="width: 0;"></div>
                                            </div>
                                            <p class="progress-to">@skill.Percent%</p>
                                        </div>
                                    </div>
                                    <!-- Modal placeholder -->
                                    <div id="modal-placeholder-delete-skill"></div>
                                    <!-- Modal placeholder -->
                                    <div id="modal-placeholder-edit-skill"></div>
                                }
                            </div>
                            <!-- Button trigger modal -->
                            <button id="create-skill" type="button" class="btn btn-primary edit-resume" data-toggle="ajax-modal" data-target="#modal-pro-skill" data-url="@Url.Action("Create","ProfSkill")">
                                <i data-feather="plus"></i>
                            </button>
                            <!-- Modal -->
                            <div id="modal-placeholder-create-skill"></div>

                        </div>
                        <div class="experience dashboard-section details-section">
                            <h4><i data-feather="globe"></i>Languages</h4>
                            @foreach (var lang in Model.Candidate.Languages)
                            {
                                <div class="experience-section lang">
                                    <a id="delete-language" href="#modal-lang-delete" style="display: block;color:#ff3366" data-toggle="ajax-modal" data-target="#modal-lang-delete" data-url="@Url.Action("Delete","Language",new { id = lang.Id })">
                                        <i data-feather="x-circle" style="float: right;width: 15px;height: 15px;margin-right:11px;margin-top:9px;"></i>
                                    </a>
                                    <a id="edit-language" href="#modal-lang-edit" style="display: block;color: #246df8" data-toggle="ajax-modal" data-target="#modal-lang-edit" data-url="@Url.Action("Edit","Language",new { id = lang.Id })">
                                        <i data-feather="edit-2" style="float: right;width: 15px;height: 15px;margin-right:11px;margin-top:9px;"></i>
                                    </a>
                                    <h5>@lang.LanguageName<span style="margin-left: 0px;">- @lang.ProfeciencyLevel</span></h5>
                                </div>
                                <!-- Modal placeholder -->
                                <div id="modal-placeholder-delete-language"></div>
                                <!-- Modal placeholder -->
                                <div id="modal-placeholder-edit-language"></div>
                            }
                            <!-- Button trigger modal -->
                            <button id="create-language" type="button" class="btn btn-primary edit-resume" data-toggle="ajax-modal" data-target="#modal-lang-skill" data-url="@Url.Action("Create","Language")">
                                <i data-feather="plus"></i>
                            </button>
                            <!-- Modal -->
                            <div id="modal-placeholder-create-language"></div>

                        </div>
                    </div>
                    <div class="dashboard-sidebar">
                        <div class="user-info">
                            <div class="thumb">
                                <img src="~/uploads/UserImages/@Model.Candidate.Picture" class="img-fluid" alt="">
                            </div>
                            <div class="user-body">
                                <h5>@Model.Candidate.Firstname @Model.Candidate.Lastname</h5>
                            </div>
                        </div>
                        <div class="dashboard-menu">
                            <ul>
                                <li><i class="fas fa-user"></i><a asp-action="EditCandidateProfile">Edit Profile</a></li>
                                <li><i class="fas fa-file-alt"></i><a asp-action="Resume">Resume</a></li>
                                <li  class="active"><i class="fas fa-edit"></i><a asp-action="EditResume">Edit Resume</a></li>
                                <li><i class="fas fa-check-square"></i><a asp-action="AppliedJobs">Applied Job</a></li>
                            </ul>
                            <ul class="delete">
                                <li><i class="fas fa-power-off"></i><a asp-controller="Account" asp-action="Logout">Logout</a></li>
                                @*<li><i class="fas fa-trash-alt"></i><a href="#" data-toggle="modal" data-target="#modal-delete">Delete Profile</a></li>*@
                            </ul>
                            <!-- Modal -->
                            <div class="modal fade modal-delete" id="modal-delete" tabindex="-1" role="dialog" aria-hidden="true">
                                @*{ render(controller('App\\Controller\\ProfileController::deactivate',{'id':app.user.id})) }}*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
