@model Tunrecrute.Models.User
@{ 
    Layout = "~/Views/Profile/_Layout.cshtml";
    ViewBag.Title = "Resume";
}
<div class="alice-bg section-padding-bottom">
    <div class="container no-gliters">
        <div class="row no-gliters">
            <div class="col">
                <div class="dashboard-container">
                    <div class="dashboard-content-wrapper">
                        @if (Model.CVFilename != null || Model.CoverLetterFilename != null)
                        {
                            <div class="download-resume dashboard-section">
                                @if (Model.CVFilename != null)
                                {
                                    <a asp-action="DownloadCV">Download CV<i data-feather="download"></i></a>
                                }
                                else if (Model.CoverLetterFilename != null)
                                {
                                    <a asp-action="DownloadCL">Download Cover Letter<i data-feather="download"></i></a>
                                }

                            </div>
                        }
                        @if (Model.ProfSkills.Count > 0 || Model.SocialMedia != null)
                        {
                            <div class="skill-and-profile dashboard-section">
                                @if (Model.ProfSkills.Count > 0) {
                                <div class="skill">
                                    <label>Skills:</label>
                                    @foreach (var skill in Model.ProfSkills)
                                    {
                                    <a href="#">@skill.Name</a>
                                    }
                                </div>
                                }
                                @if (Model.SocialMedia != null) {
                            <div class="social-profile">
                                <label>Social Media:</label>
                                @if (!String.IsNullOrEmpty(Model.SocialMedia.Facebook))
                                {
                                    <a href="@Model.SocialMedia.Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                }
                                @if (!String.IsNullOrEmpty(Model.SocialMedia.Twitter))
                                {
                                    <a href="@Model.SocialMedia.Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                                }
                                @if (!String.IsNullOrEmpty(Model.SocialMedia.Google))
                                {
                                    <a href="@Model.SocialMedia.Google" target="_blank"><i class="fab fa-google-plus"></i></a>
                                }
                                @if (!String.IsNullOrEmpty(Model.SocialMedia.Linkedin))
                                {
                                    <a href="@Model.SocialMedia.Linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                }
                                @if (!String.IsNullOrEmpty(Model.SocialMedia.Pintrest))
                                {
                                    <a href="@Model.SocialMedia.Pintrest" target="_blank"><i class="fab fa-pinterest-p"></i></a>
                                }
                                @if (!String.IsNullOrEmpty(Model.SocialMedia.Behance))
                                {
                                    <a href="@Model.SocialMedia.Behance" target="_blank"><i class="fab fa-behance"></i></a>
                                }
                                @if (!String.IsNullOrEmpty(Model.SocialMedia.Dribbble))
                                {
                                    <a href="@Model.SocialMedia.Dribbble" target="_blank"><i class="fab fa-dribbble"></i></a>
                                }
                                @if (!String.IsNullOrEmpty(Model.SocialMedia.Github))
                                {
                                    <a href="@Model.SocialMedia.Github" target="_blank"><i class="fab fa-github"></i></a>
                                }
                                </div>
                                }
                            </div>
                        }

                        <div class="personal-information dashboard-section last-child details-section">
                            <h4><i data-feather="user-plus"></i>Personal Details</h4>
                            <ul>
                                <li><span>Full Name:</span>@Model.Firstname @Model.Lastname</li>
                                <li><span>Email:</span>@Model.Email</li>
                                @if (!String.IsNullOrEmpty(Model.Birthdate))
                                {
                                    <li><span>Date of Birth:</span> @DateTime.ParseExact(Model.Birthdate,"yyyy-MM-dd HH:mm:ss",null).ToString("dd/MM/yyyy")</li>
                                }
                                @if (!String.IsNullOrEmpty(Model.Nationality))
                                {
                                    <li><span>Nationality:</span> @Model.Nationality </li>
                                }
                                @if (!String.IsNullOrEmpty(Model.Sex))
                                {
                                    <li><span>Sex:</span> @Model.Sex</li>
                                }
                                <li><span>Address:</span>@Model.Address</li>
                                </ul>
                        </div>
                        <div class="about-details details-section dashboard-section">
                            <h4><i data-feather="align-left"></i>About Me</h4>
                            <p>@Model.AboutMe</p>
                        </div>
                        <div class="edication-background details-section dashboard-section">
                            <h4><i data-feather="book"></i>Education Background</h4>
                           @foreach (var edu in Model.Educations) {
                            <div class="education-label">
                                <span class="study-year">@edu.StartYear - @edu.EndYear</span>
                                <h5>@edu.DiplomaTitle<span>@@ @edu.InstitutionName</span></h5>
                                <p>@edu.Description</p>
                            </div>
                           }                       
                        </div>
                        <div class="experience dashboard-section details-section">
                            <h4><i data-feather="briefcase"></i>Work Experience</h4>
                            @foreach (var exp in Model.WorkExperiences) {
                            <div class="experience-section">
                                <span class="service-year">@exp.StartYear - @exp.EndYear</span>
                                <h5>@exp.Title<span>@@ @exp.CompanyName</span></h5>
                                <p>@exp.Description</p>
                            </div>
                            }
                        </div>
                        <div class="professonal-skill dashboard-section details-section">
                            <h4><i data-feather="feather"></i>Professional Skill</h4>
                            <div class="progress-group">
                                @foreach (var skill in Model.ProfSkills)
                                {
                                    <div class="progress-item">
                                        <div class="progress-head">
                                            <p class="progress-on">@skill.Name</p>
                                        </div>
                                        <div class="progress-body">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="@skill.Percent" aria-valuemin="0" aria-valuemax="100" style="width: 0;"></div>
                                            </div>
                                            <p class="progress-to">@skill.Percent%</p>
                                        </div>
                                    </div>
                                }
                                </div>
                        </div>
                        <div class="experience dashboard-section details-section">
                            <h4><i data-feather="globe"></i>Languages</h4>
                            @foreach (var lang in Model.Languages)
                            {
                                <div class="experience-section lang">
                                    <h5>@lang.LanguageName<span style="margin-left: 0px;">- @lang.ProfeciencyLevel</span></h5>
                                </div>
                            }                            
                        </div>
                    </div>
                    <div class="dashboard-sidebar">
                        <div class="user-info">
                            <div class="thumb">
                                <img src="~/uploads/UserImages/@Model.Picture" class="img-fluid" alt="">
                            </div>
                            <div class="user-body">
                                <h5>@Model.Firstname @Model.Lastname</h5>
                            </div>
                        </div>
                        <div class="dashboard-menu">
                            <ul>
                                <li><i class="fas fa-user"></i><a asp-action="EditCandidateProfile">Edit Profile</a></li>
                                <li  class="active"><i class="fas fa-file-alt"></i><a asp-action="Resume">Resume</a></li>
                                <li><i class="fas fa-edit"></i><a asp-action="EditResume">Edit Resume</a></li>
                                <li><i class="fas fa-check-square"></i><a asp-action="AppliedJobs">Applied Job</a></li>
                            </ul>
                            <ul class="delete">
                                <li><i class="fas fa-power-off"></i><a asp-controller="Account" asp-action="Logout">Logout</a></li>
                                <li><i class="fas fa-trash-alt"></i><a href="#" data-toggle="modal" data-target="#modal-delete">Delete Profile</a></li>
                            </ul>
                            <!-- Modal -->
                            <div class="modal fade modal-delete" id="modal-delete" tabindex="-1" role="dialog" aria-hidden="true">
                                @*{ render(controller('App\\Controller\\ProfileController::deactivate',{'id':app.user.id})) }}*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

