@using cloudscribe.Pagination.Models
@model PagedResult<Candidacy>
@inject SignInManager<User> signInManager
@{
    Layout = "~/Views/Profile/_Layout.cshtml";
    ViewBag.Title = "Candidacies for Ads";
}
<div class="alice-bg section-padding-bottom">
    <div class="container no-gliters" style="max-width: 990px;">
        <div class="row no-gliters">
            <div class="col">
                <div class="dashboard-container">
                    <div class="dashboard-content-wrapper" style="width: 100%">
                        <div class="manage-candidate-container">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Candidate</th>
                                        <th>Status</th>
                                        <th class="action">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Data.Count == 0)
                                    {
                                    @:</tbody>
                                @:</table>
                                <div style="margin-left:330px;margin-top:70px;font-size: 1.4rem;font-family: 'Poppins', sans-serif; font-weight: 500; color: #6f7484;">
                                    No Application(s) To Manage Yet
                                </div>
                                    }
                                    else
                                    {
                                        foreach (Candidacy c in Model.Data)
                                        {

                                <tr class="candidates-list">
                                    <td class="title">
                                        <div class="thumb">
                                            <img src="~/uploads/UserImages/@c.User.Picture" class="img-fluid" alt="">
                                        </div>
                                        <div class="body">
                                            <h5><a asp-action="ResumeForEmployer" asp-controller="Profile" asp-route-id="@c.User.Id" target="_blank">@c.User.Firstname @c.User.Lastname</a></h5>
                                        </div>
                                    </td>
                                    <td class="status">
                                        @if (String.IsNullOrEmpty(c.Status))
                                        {
                                            <span>N / A</span>
                                        }
                                        else if (c.Status.Equals("shortlisted"))
                                        {
                                            <i data-feather="check-circle" style="color: #01d13d;"></i><span style="color: #01d13d;"> Shortlisted</span>
                                        }
                                        else if (c.Status.Equals("rejected"))
                                        {
                                            <i data-feather="x-circle" style="color: #ff3366;"></i><span style="color: #ff3366;">Rejected</span>

                                        }
                                    </td>
                                    <td class="action">
                                        <a asp-action="ChangeStatus" asp-controller="Candidacy" asp-route-adId="@c.Advertisement.Id" asp-route-candidateId="@c.UserId" asp-route-status="shortlisted" class="download"><i data-feather="check-circle"></i></a>
                                        <a asp-action="ChangeStatus" asp-controller="Candidacy" asp-route-adId="@c.Advertisement.Id" asp-route-candidateId="@c.UserId" asp-route-status="rejected" class="remove"><i data-feather="x-circle"></i></a>
                                    </td>
                                </tr>
                                            
                                        }
                                    }

                                </tbody>
                                </table>
                                <div class="pagination-list text-center">
                                    <nav class="navigation pagination">
                                        <div class="nav-links">
                                            <cs-pager cs-paging-pagesize="@Model.PageSize"
                                                      cs-paging-pagenumber="@Model.PageNumber"
                                                      cs-paging-totalitems="@Model.TotalItems"
                                                      cs-pagenumber-param="pageNumber"
                                                      cs-previous-page-text="Previous"
                                                      cs-next-page-text="Next"
                                                      asp-controller="Candidacy"
                                                      asp-action="AdCandidacies"
                                                      cs-pager-li-current-class="page-item active"
                                                      cs-pager-li-other-class="page-item"
                                                      cs-pager-li-non-active-class="page-item disabled"
                                                      cs-pager-link-current-class="page-link"
                                                      cs-pager-link-other-class="page-link">
                                            </cs-pager>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>